{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    },
    "node": {
      "plugins": [
        [
          "css-modules-transform",
          {
            "extensions": [
              ".css"
            ],
            "generateScopedName": "[name]-[local]-[hash:8]"
          }
        ],
        [
          "transform-assets-import-to-string",
          {
            "baseDir": "/",
            "flatten": true,
            "extensions": [
              ".gif",
              ".jpg",
              ".png",
              ".svg"
            ]
          }
        ]
      ]
    }
  }
}
