{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "extends": [
    "airbnb"
  ],

  "rules": {
    "no-unexpected-multiline": [1],
    "semi": [1, "never"],
    "react/prop-types": [2],
    "import/extensions": [1, "never"],
    "import/no-named-as-default": [0],
    "import/no-named-as-default-member": [0],
    "import/no-absolute-path": [0],
    "import/no-extraneous-dependencies": [0],
    "import/no-duplicates": [0],
  },

  "plugins": [ "import", "react" ],

  "globals": {
    "window": true,
    "document": true,
  }
}
