{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],

  "rules": {
    "import/extensions": ["off"],
    "import/no-named-as-default": ["off"],
    "import/no-named-as-default-member": ["off"],
    "import/no-absolute-path": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/no-duplicates": ["off"],
    "import/no-unresolved": ["off"],
    "no-unexpected-multiline": ["warn"],
    "react/prop-types": ["off"]
  },

  "plugins": [ 
    "flowtype",
    "import", 
    "react" 
  ],

  "globals": {
    "window": true,
    "document": true
  }
}
