/*******************************
      Messages Container
*******************************/

/* All Sizes */

.messages {
  left: 50%;
  margin-left: -48%;
  position: fixed;
  top: 45px;
  width: 96%;
  z-index: 100;
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .messages {
    margin-left: -361.5px;
    width: 723px;
  }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .messages {
    margin-left: -466.5px;
    width: 933px;
  }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) {
  .messages {
    margin-left: -563.5px;
    width: 1127px;
  }
}
